@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.main-container {
    height: 100vh;
    display: grid;
    grid-template: min-content 1fr / 1fr;
    grid-template-areas: "header"
                         "content";
}

header {
    padding: 20px;
    grid-area: header;
}

.book-library {
    background: rgb(232, 232, 232);
    grid-area: content;
    padding: 20px;
}

.book-library > div, .addBook {
    border: 2px solid black;
    border-radius: 10px;
    height: 250px;
    width: 300px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}

.book-library > .addBook {
    cursor: pointer;
}

.book-library > .addBook:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0 0);
}

.form-container {
    background: white;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    box-shadow: 0 0 1px black;
    padding: 20px;
    border-radius: 5px;
    display: none;
    transition: ease-in 20ms;
}

form {
    display: grid;
    grid-template: 1fr 1fr 1fr auto / 1fr;
    gap: 20px;
}

form > div {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
}

form button {
    padding: 5px;
}